<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="new-post">
            <%= form_tag("/users/#{@user.id}/update") do %>
                <div>
                    <p><input placeholder="名前" name="name" value="<%= @user.name %>"></p>
                    <input class="sub-btn" type="submit" value="更新する">
                </div>
            <% end %>
        </div>
    </div>
</body>
</html>