// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.delete-btn {
    float: right;
}


.mypage {
    padding: 20px;
    margin: 20px 80px;
    background-color: #fff;
    border: solid 1px rgb(126, 126, 126);
    border-radius: 10px;
    height: 120px
}